


<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h2 class="m-xs">Admin Dashboard Ekranı</h2>

                <h6 class="font-bold no-margins col-14 text-right">
                    MyWebSite1
                </h6>
                
                <br />
                <small>Projemin bu paneli üzerinde Admin işlemleri bir Area yapısı üzeriden gerçekleştirilmektedir.
                    
                </small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
 <div class="col-lg-3">
        <div class="widget lazur-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-paper-plane-o fa-5x"></i>
                <br />
                <br />
            
                <h2 class="m-s">Son Eklenen Blog</h2>
                <br />
                <h4 class="font-bold no-margins">
                    @ViewBag.v1
                </h4>
             </div>    
        </div>      
 </div>
    <div class="col-lg-3">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                
                <i class="fa fa-money fa-5x"></i>
                <br />
                <h3 class="font-bold no-margins">
                    Blog Site Kazancı
                </h3>
                <br />

                <h2 class="m-s">45,384$</h2>
                
                <br />
                
            </div>
            
        </div>
    </div>
   
</div>