
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>,
<br />


<a href="/Admin/Blog/ExportStaticExcelBlogList" class="btn btn-primary">Excel Dosyasını İndir</a>

@*<button class="btn btn-primary" onclick="DownloadExcellBlogList">Excel Listesini İndir</button>*@
@*<script>

    //No:118 Excel Listesini indirmek için yazılan yönlendirme
    function DownloadExcellBlogList(){
        window.open("/Admin/Blog/ExportStaticExcelBlogList");

    }

</script>*@
