
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@*No:84 href alanı düzenlendi*@
<link href="~/web/css/contact.css" rel='stylesheet' type='text/css' />

<!DOCTYPE html>
<html lang="zxx">



<body>
	
	<section class="main-content-w3layouts-agileits">

		<h3 class="tittle">Bize Ulaşın</h3>
		<p class="sub text-center">Fikirleriniz Bizler İçin Çok Değerli...</p>
		<div class="contact-map inner-sec">
			
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6021.836908803619!2d29.220986!3d41.005158!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cace2d8cce98d7%3A0x6f3ad8a12b4520b5!2zQVlESU5UQcWeIEVMRUtUUk9OxLBL!5e0!3m2!1str!2str!4v1680359185951!5m2!1str!2str"
					class="map" style="border:0" allowfullscreen=""></iframe>
		</div>
		<div class="ad-inf-sec bg-light">
			<div class="container">
				<div class="address row">

					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-map"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Adres</h6>
								<p>
									Kemal Türkler Mahallesi, Sümer Caddesi,<br /> Özöztürk Sokak No:20/A <br />

									Sancaktepe/İstanbul

								</p>
							</div>
						</div>

					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-envelope"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>E-mail</h6>
								<p>
									
									<a href="mailto:aydintasdisticaret@gmail.com"> aydintasdisticaret@gmail.com</a>

								</p>
							</div>

						</div>
					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="fas fa-mobile-alt"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Telefon</h6>
								<p>+90 (216) 622 22 00 </p>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="contact_grid_right">
				<form method="post">
					<div class="row contact_left_grid">
						<div class="col-md-6 con-left">
							<div class="form-group">
								<label for="validationCustom01 my-2">Adınız</label>
								@*No:84 name alanı düzenlendi*@
								<input class="form-control" type="text" name="ContactUserName" placeholder="" required="">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Mail Adresiniz</label>
								@*No:84 name alanı düzenlendi*@
								<input class="form-control" type="email" name="ContactMail" placeholder="" required="">
							</div>
							<div class="form-group">
								<label for="validationCustom03 my-2">Konu</label>
								@*No:84 name alanı düzenlendi*@
								<input class="form-control" type="text" name="ContactSubject" placeholder="" required="">
							</div>
						</div>
						<div class="col-md-6 con-right">
							<div class="form-group">
								<label for="textarea">Mesajınız</label>

								@*No:84 name alanı düzenlendi*@
								<textarea id="textarea" name="ContactMessage" placeholder=""></textarea>
							</div>
							<input class="form-control" type="submit" value="Gönder">

						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!--//main-->
	<!--footer-->
	
	<!---->
	<!-- js -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
											containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
										};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src="js/bootstrap.js"></script>


</body>

</html>