
@*No:89 Concrete ve List<Blog> tanımlandı
*@

@using EntityLayer.Concrete
@model List<Blog>



@foreach(var item in Model)
{
<div class="blog-grids row mb-3">
	<div class="col-md-5 blog-grid-left">
		<a href="/Blog/BlogReadAll/@item.BlogID">
			<img src="@item.BlogImage" class="card-img-top img-fluid" alt="">
		</a>
	</div>
	
	<div class="col-md-7 blog-grid-right">

		<h5>
				<a href="/Blog/BlogReadAll/@item.BlogID">
					
@*					No:89 Aşağıdaki metotla Son Postlar kısmındaki açıklama bölümündeki karakter sayısını yazdık
*@					@item.BlogContent.Substring(0,item.BlogContent.Substring(0,70).LastIndexOf(" "))...
				</a>
		</h5>
		<div class="sub-meta">
			<span>
				<i class="far fa-clock"></i> @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year
			</span>
		</div>
	</div>

	
</div>
}